.DS_Store
node_modules
dist
vendor
site_velho/
# local env files
.env
!.env.local
!.env.*.local
aplicacao/*
!aplicacao/api/
!aplicacao/sites/
!aplicacao/images/
!aplicacao/api_images/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
