@font-face {
    font-family: 'Conv_GILC____';
	src: url('fonts/GILC____.eot');
	src: local('☺'),
            url('fonts/GILC____.ttf') format('truetype'), 
            url('fonts/GILC____.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

