/* aplica somente a partir de 768px em landscape */
@media screen and (max-width: 768px){
	body{
		min-width: 100%;
	}
	.bg_header,
	.bg_banner,
	.bg_banner .banner,
	.top_conteudo,
	.bg_conteudo,
	.bg_rodape,
	.bg_copy,
	.container_24{
		width:760px;
	}
	.header .logo{
		position: absolute;
	}
	.container_24 .grid_18.pagina{
		width: 518px;
	}
	.container_24 .grid_24.pagina{
		width: 700px;
		float:none;
	}
	.pagina .conteudo{
		width:95%;
	}
	.pagina .titulo_pagina {
		top:5px;
	}
	.historico-pedidos{
		width:680px !important;
	}
	.historico-pedidos ul{
		width:680px !important;
	}
	.historico-pedidos ul li{
		width:136px;
	}
	.historico-pedidos .pedido-button a{
		width:80px;
	}
	.identificacao{
		margin: 0 20px;
		width: 700px;
	}
	.container_24 .grid_11.form-contato,
	.container_24 .grid_11.localizacao{
		width:360px;
	}
	.container_24 .grid_11.localizacao iframe{
		height: 306px;
	}
	.lista-pedido .preco-carrinho {
		width: 432px;
		margin-top: 20px;
	}
	.confirmacao .enderecoentrega .frete{
		width:97%;
		margin-top: 20px
	}
	.confirmacao .formadepagamento ul li{
		margin-right: 35px
	}
	.confirmacao .enderecoentrega .frete .frete_expresso,
	.confirmacao .enderecoentrega .frete .frete_economico{
		width: 330px;
	}
	.confirmacao .enderecoentrega .dadosentrega{
		width:97%;
	}
	.confirmacao .enderecoentrega .dadosentrega  input{
		width:100%;
	}
	.confirmacao .enderecoentrega .dadosentrega span{
		width:100%;
	}
	.identificacao .logar, .identificacao .cadastrar{
		float:left !important;
		width:100%;
		margin-top:10px;
	}
	.pagina .detalhe .galeria{
		width: 403px;
		margin: 0 auto;
		float: none;
	}
	.pagina .detalhe .titulo{
		clear:left;
		padding-top: 20px
	}
	.pagina .detalhe .share-detalhe{
		float:none;
	}
}


/* aplica somente a partir de 480px em landscape */
@media screen and (max-width: 480px) and (orientation:landscape){

}
/* aplica somente a partir de 320px */
@media screen (max-width:320px) and (orientation:portrait){

}