/*texto destaque rosa :#c37188*/
@import url(reset.css);
@import url(grid.css);
@import url(fonts.css);

img, iframe, object, video,audio{
  max-width: 100%;
  height:auto;
}

h1,h2,h3,h4,h5,h6{ font-family:"Conv_GILC____", sans-serif; font-size:22px; font-weight: normal}

body{background: url(i/bg_body.png)}
.bg_header{ background: url(i/bg_header.png) repeat-x top}
.bg_header .header{ height:120px;}
.header .logo{ padding: 20px 0}
.header .menu_top { margin-top: 23px}
.header .menu_top ul li{ display: inline-block;}
.header .menu_top ul li a{color:#6CA9BA;font-size: 16px}
.header .menu_top ul li a:hover{color:#B02E83;}
.header .televendas{color:#B02E83;font-size: 22px; margin-top: 33px}
/* banner */

.bg_banner .banner{ height: 195px; margin: 0 auto; width: 1000px; position: relative}
.banner #nav{position: absolute;bottom: 10px;z-index: 9999}
.banner #nav a{ background: #6DA9BB; padding: 2px 4px; text-indent: -5000px; color:#6DA9BB; font-size: 4px; margin-right: 5px }
.banner #nav a.activeSlide{ background: #C1419A; color: #C1419A}
/*topo do conteudo*/
.top_conteudo{width: 1000px; height:65px; line-height: 65px; color:#fff; background: #B02F83; margin: 0 auto; margin-top: -2px}
.top_conteudo{ border-radius: 10px 10px 0 0}
.top_conteudo select,
.top_conteudo input[type=text],
.top_conteudo input[type=submit]{ padding: 3px; font-size: 12px; border:solid 1px #ccc; color: #ccc}
.top_conteudo input[type=submit]{border:none; background: #6DA9BB url(i/seta.png) no-repeat center right; color:#fff; padding:3px 40px 3px 10px;}
.top_conteudo input[type=submit]:hover{ background:cadetblue url(i/seta.png) no-repeat center right; }
.top_conteudo select:focus,
.top_conteudo input[type=text]:focus{color:#666}
/*conteudo*/
.bg_conteudo{background: #fff; margin: 0 auto; width: 998px; border: solid 1px #ebebeb; border-top:none; border-bottom: none}
.bg_conteudo .lateral { background: #F8F8F8;border-right:1px solid #ebebeb; width: 255px; margin-left: -19px}
.bg_conteudo .pagina { background: #fff; }

/*menu categoria */
.lateral .menu_categoria { position:relative; background: #B02F83; width: 220px; margin: 22px auto;border-radius:10px ;}
.lateral .menu_categoria .top_menu_categoria {position:relative; border-radius:10px 10px 0 0; background:#C467A4; color:#fff; padding: 5px 10px}
.lateral .menu_categoria ul{ padding:  5px 10px}
.lateral .menu_categoria ul li{ border-bottom:1px solid #C972AB; background: url(i/seta_cat.png) no-repeat center right; padding: 0 10px; margin: 0 2px}
.lateral .menu_categoria ul li a{ color:#fff; padding: 5px 0; font-size: 22px; display:block}
.lateral .menu_categoria ul li a:hover{color:#E398CA}

/*lateral carrinho*/
.lateral .lateral-carrinho {  background: #D8E5E9; width: 220px; margin: 22px auto; font-size: 22px; padding: 0 0 10px 0; border-radius:10px; position:relative}
.lateral .lateral-carrinho .top_lateral_carrinho {position:relative; border-radius:10px 10px 0 0; background:#7AAEBD; color:#fff; padding: 5px 10px; position:relative}
.lateral .total-produtos{position:relative; border-radius:10px; background:#7AAEBD; width:203px; height:36px; line-height: 36px; margin:0 auto; text-align:center; color:#fff; margin-top: 10px}
.lateral .total-compras{position:relative;border-radius:10px; background:#7AAEBD; width:203px; margin:10px auto; color:#fff; text-align:center}
.lateral-carrinho .btn-sacola{position:relative;background:#E59CCC; padding: 4px; border-radius:5px; color:#fff}
.lateral-carrinho .btn-sacola:hover{background:#D358A8;}
.lateral-carrinho .btn-finalizar{position:relative; background:#7AAEBD; padding: 4px; border-radius:5px; color:#fff}
.lateral-carrinho .btn-finalizar:hover{background:#427584;}
.lateral-carrinho .preco-sacola{ font-size: 35px}
.lateral .lateral-carrinho a{ font-size: 17px; margin: 0 10px}
/*lateral catálogo*/

.lateral .catalogo { background: #D8E5E9 url(i/bg_catalogo.png) repeat-x top; width: 220px; margin: 22px auto;border-radius:14px; font-size: 22px; position: relative;}
.lateral .catalogo p{ font-size: 16px; padding:3px 10px; color:#fff}
.lateral .catalogo a{ background: url(i/link-catalogo.png) no-repeat center top; height:55px; width:104px; display:block; position:absolute; right:0px; bottom: 1px}
.lateral .catalogo a:hover{ background-position: center bottom}
.lateral .catalogo h2 {position:relative; border-radius:10px 10px 0 0; background: #D8E5E9 url(i/bg_header_catalogo.png) repeat-x top; color:#fff; padding: 4px 10px}
/*mais vendidos*/
.lateral .mais-vendidos{ margin: 0 auto; width:220px;}
.lateral .mais-vendidos h2{ color:#E59FCD;}
.lateral .item_mais_vendidos{ border-top: #E59FCD solid 1px; padding: 10px 0; font-style: italic; margin-top: 10px}
.lateral .item_mais_vendidos .descricao{ margin: 10px 0;color: #666666}
.lateral .item_mais_vendidos .descricao a{color: #666666}
.lateral .item_mais_vendidos .descricao a:hover{color: #333}
.lateral .item_mais_vendidos .titulo,
.lateral .item_mais_vendidos .titulo a{ color:#333333 }
.lateral .item_mais_vendidos .preco-mais-vendido{font-size: 21px; color: #E59FCD }
.lateral .item_mais_vendidos .preco-mais-vendido a{font-size: 21px; color: #E59FCD }
/*sacola de compras lista*/
.lista-pedido{ margin-bottom: 20px}
.lista-pedido .content{position:relative; background: #f2f2f2; padding: 20px; margin-bottom: 20px}
.lista-pedido .content{
   border-radius:10px;
   -webkit-border-radius:10px;
   -moz-border-radius:10px;
}
.lista-pedido .content .img{margin-right: 20px;background: #fff; float: left; width: 230px; height: 170px; overflow: hidden; border: solid 3px #D8E5E9; text-align: center }
.lista-pedido .content .img img{float: none !important; border: none; height: 160px; }
.lista-pedido .content .titulo{ font-size: 22px; color:666}
.lista-pedido .content .descricao{ margin: 22px 0 24px 0}
.lista-pedido .preco-carrinho{
   border-radius:10px;
   -webkit-border-radius:10px;
   -moz-border-radius:10px;
   position:relative;
   background: #D7E3E7;
   padding: 10px;
   height:44px;
   float: right
}
.lista-pedido .preco-carrinho{width:268px; position: relative}
.lista-pedido .preco-carrinho input[type=text]{ width:40px; height:29px;text-align: center; line-height: 29px}
.lista-pedido .preco-carrinho input[type=button]{ color:#fff; border:none;width:107px; text-align: center; line-height: 29px; background: url(i/btnremover.png) no-repeat center left}
.lista-pedido .preco-carrinho .preco{color:#B03084; font-size: 22px; float: right; line-height:38px}
.lista-pedido .botoes-carrinho{ float: left; margin-bottom: 10px}
.lista-pedido .botoes-carrinho input{ background: #E59CCC; border: none; color:#fff; font-size: ""}
.lista-pedido .botoes-carrinho input:hover{ background: #D358A8;}
.lista-pedido .total-carrinho{
   border-radius:5px;
   -webkit-border-radius:5px;
   -moz-border-radius:5px;
   position:relative;
   background: #D7E3E7;
   padding: 3px 7px;
   float: right;
   width: 180px

}
.lista-pedido .total-carrinho .titulo{
   border-radius:5px;
   -webkit-border-radius:5px;
   -moz-border-radius:5px;
   position:relative;
   background: #D7E3E7;
   font-size: 17px;
   font-family:"Conv_GILC____", sans-serif;
   background: #E59CCC;
   float: left;
   padding: 3px 10px;
   color:#fff

}
.lista-pedido .total-carrinho .preco{
   color:#B03084;
   font-size: 22px;
   font-family:"Conv_GILC____", sans-serif;
   float: right
}
/* produto detalhe */
.pagina .detalhe .galeria{  float: left; width: 410px}
.pagina .detalhe .galeria .img-grande{width: 386px; margin: 5px;border: solid 3px #D8E5E9; height: 280px; text-align: center; overflow: hidden}
.pagina .detalhe .galeria .img-grande img{ border: none}
.pagina .detalhe .galeria .img{ margin: 5px ;width:120px; height: 88px; text-align: center; float: left;border: solid 2px #D8E5E9;}
.pagina .detalhe .galeria .img img{ height: 75px; float: none !important; border: none}
.pagina .detalhe .detalhe-add-carrinho{ background: #D7E3E7;
                                        border-radius:10px;
                                        -moz-border-radius:10px;
                                        -webkit-border-radius:10px;
                                        height: 42px;
                                        padding: 7px 14px;
                                        line-height: 42px;
}
.pagina .detalhe .detalhe-add-carrinho input[type=submit],
.pagina .detalhe .detalhe-add-carrinho input[type=button],
.pagina .detalhe .detalhe-add-carrinho input[type=text]{
   border-radius:0 !important;
   font-size: 22px;

}
.pagina .detalhe .detalhe-add-carrinho input[type=text]{
   width:63px;
   color:#999;
   text-align: center;
   margin: 0 5px;
}
.pagina .detalhe .detalhe-add-carrinho input[type=submit],
.pagina .detalhe .detalhe-add-carrinho input[type=button]{
   background: #E69FCE;
   color:#fff;
}
.pagina .detalhe  .descricao{ margin: 20px 0}
.pagina .detalhe .preco { margin: 20px 0}
.pagina .detalhe .preco p{ font-size: 32px; color: #B03084}
.pagina .detalhe .preco p span{ font-size: 22px; color: #6CA9BA;margin-top: 7px;display: block;float: left;margin-right: 20px;}
.pagina .detalhe .share-detalhe{float: right;width: 210px;margin-top: 30px;}
/*identificacao*/
.identificacao .logar,
.identificacao .cadastrar{
   border-radius:10px;
   -webkit-border-radius:10px;
   -moz-border-radius:10px;
   background: #f2f2f2;
   border:solid 1px #e6e6e6;
   position:relative;
   padding: 7px;
}
.identificacao{ padding-bottom: 50px}
.identificacao h2{
  color: #E59FCC !important;
  margin-bottom: 30px;
}
.identificacao .logar span,
.identificacao .cadastrar span{
min-width: 50px; float: left; display: block;
   line-height: 35px;
   margin-bottom: 30px;
}
.identificacao .logar input[type=text],
.identificacao .cadastrar input[type=text]{
   width:396px;
   
}
.identificacao .cadastrar input[type=text]{
width:328px
}

/*paginas gerais*/

.pagina h1 { color:#B03084 }
.pagina h2 { color:#666; font-size: 20px}
.pagina h3 { color:#666; font-size: 18px}
.pagina h4 { color:#666; font-size: 16px }
.pagina h5 { color:#666; font-size: 15px }
.pagina h6{ color:#666; font-size: 14px }
.pagina  p{ color:#666; margin: 5px 0}
.pagina ul,.pagina ol {  margin: 10px 0; margin-left: 30px;}
.pagina ul li, .pagina ol li{ color:#666; list-style-type:square}
.pagina ol li{ list-style-type: decimal}
.pagina a{ color:#000}
.pagina a:hover{ color:#666}
.pagina img{ vertical-align: middle; float: left; margin: 5px; padding: 5px; border: solid 1px #ebebeb}

.pagina .conteudo{ margin-left: 15px}
.pagina  .titulo_pagina{margin-bottom: 7px; margin-top: 10px;position:relative; border: solid 1px #ebebeb; background: url(i/bg_header_pagina.png) repeat-x top; height:44px; border-radius:8px; padding: 0 5px; line-height: 44px}
.pagina  .titulo_pagina h1{color:#B03084}
.pagina  .titulo_pagina select { font-size: 12px; position: relative}
/*meus pedidos*/
.historico-pedidos{
   border-radius:10px;
   background: #f2f2f2;
   width: 924px !important
  
}
.historico-pedidos ul{
   padding: 0; margin: 0;
   background: #f2f2f2;
   padding: 10px;
   width:927px !important;
   border-radius:10px;
   -moz-border-radius:10px;
   -webkit-border-radius:10px;
   position:relative;
   border:1px #ebebeb solid;
}
.historico-pedidos > ul > li{ text-align:  center; font-size: 22px}
.historico-pedidos ul li{
   margin-left: 0;
   list-style-type: none;
   float: left;
   width:185px
   
}

.historico-pedidos ul li input[type=text]{
  width:80%;
  padding: 12px;
  text-align: center;
     border:1px #ebebeb solid;
}
.historico-pedidos .pedido-button a{
   height: 29px;
line-height: 29px;
text-align: left;
}
.historico-pedidos .pedido-button a:hover{
   background-color: #BB4C95
}
.historico-pedidos .lista-pedido { margin-top: 10px}
/* cofirmacao*/
.confirmacao .formadepagamento,
.confirmacao .formadepagamento ul,
.confirmacao .enderecoentrega,
.confirmacao .frete,
.confirmacao .frete .selecionar,
.confirmacao .total-pagar,
.confirmacao .total-pagar .preco,
.confirmacao .total-pagar .total,
.confirmacao .enderecoentrega .bg_endereco{
    border-radius:10px;
   -moz-border-radius:10px;
   -webkit-border-radius:10px;
   position:relative;
   border:1px #ebebeb solid;
   background: #f2f2f2;
   padding: 10px;
}
.confirmacao .dados h2{color:#6DA9BB}
.confirmacao .formadepagamento ul{ background: #fff; margin: 0}
.confirmacao .formadepagamento ul li{ float: left; list-style: none; margin-right: 50px}
.confirmacao .formadepagamento ul li span{ display: block; float:left;}
.confirmacao .formadepagamento ul li span input{ margin-top: 35px}
.confirmacao .formadepagamento ul li span img{ border: none}
.confirmacao .enderecoentrega{margin-top: 10px}
.confirmacao .enderecoentrega .frete{ float: right; width: 460px; padding: 10px; background: #F0C8E2}
.confirmacao .enderecoentrega .frete h3{ color:#fff; font-size: 16px}
.confirmacao .enderecoentrega .frete .selecionar{ background: #fff; color:#666}
.confirmacao .enderecoentrega .frete .selecionar .preco{ font-size: 24px}
.confirmacao .enderecoentrega .frete .frete_economico{ float: left; width: 190px}
.confirmacao .enderecoentrega .frete .frete_expresso{ float: right; width: 190px}
.confirmacao .enderecoentrega .bg_endereco{background: #fff; padding: 10px;}
.confirmacao .enderecoentrega .dadosentrega{ float: left; width: 400px}
.confirmacao .enderecoentrega .dadosentrega span{ float: left;}
.confirmacao .enderecoentrega .dadosentrega  input{ padding: 10px !important;margin: 3px !important;}
.confirmacao .total-pagar .total{
   background: #fff;
   line-height: 50px;
   height:50px;
   font-size: 22px;
   
}
.confirmacao .total-pagar{ margin: 10px 0}
.total-pagar p{   color:#6CA9BA !important;}
.confirmacao .total-pagar .total .preco{ float: right; background:#6CA9BA;  line-height: normal; height: 28px; line-height: 24px}
.confirmacao .total-pagar .total .preco p{ color: #fff !important}
/*minha conta*/
.minha-conta  span{ float: left}
.minha-conta  span input{ padding: 10px!important}
/*contato*/
.form-contato { margin-bottom: 20px}
.form-contato  span { margin: 5px 0; display: block}
.form-contato  span input,
.form-contato  span textarea{ padding: 10px!important; width: 95%}
/*lista produtos*/
.pagina .produtos {position:relative;float: left; background: url(i/bg_produto_item.png) no-repeat center top; height:350px; width:208px; margin:10px 23px 10px 0px}
.pagina .produtos > .content { padding: 10px}
.pagina .produtos > .content > .titulo {color: #666666}
.pagina .produtos .content >.img { height:130px; width:190px; overflow: hidden; text-align: center; margin: 0 auto;}
.pagina .produtos .content > .img > img { height: 130px; float: none; margin: 0; border: none; padding: 0}
.pagina .produtos .content > .descricao{ margin-top: 45px; font-size: 14px; color: #666666}
.pagina .produtos .content >  p{ margin: 0}
.pagina .produtos .content > .descricao .preco{font-size: 32px; color:#6DA9BB}
.pagina .produtos .content > .botoes { margin-top: 23px}
.pagina .produtos .content > .botoes .add-carrinho{ padding: 5px; background: #B02F83; color:#fff; font-size: 14px}
.pagina .produtos .content > .botoes .add-carrinho:hover{background:#D259A8;}
.pagina .produtos .content > .botoes .visualizar{ padding: 5px; background: #6DA9BB; color:#fff; font-size: 14px; margin-top: -4px}
.pagina .produtos .content > .botoes .visualizar:hover{ background:#3F7585;}




/*rodape*/
.bg_rodape{ color:#fff; background: #B02F83; margin: 0 auto; width: 1000px; padding-bottom: 20px; padding-top: 28px;  }
.bg_rodape h4 { border-bottom:  1px #BB4C95 solid; padding: 10px 0; margin-bottom: 10px; text-transform: uppercase}
.bg_rodape ul { margin-left: 15px}
.bg_rodape ul li{ color: #fff}
.bg_rodape ul li a{ color:#fff; font-size: 16px}
.bg_rodape ul li a:hover{color:#E398CA;}
.bg_rodape .rodape_contato ul { margin-top: 24px}
.bg_rodape .rodape_contato ul li{ margin-bottom: 25px}
.bg_rodape .rodape_contato img{ float: left; margin-right: 5px; vertical-align: middle}
.bg_copy{ color:#fff; background: url(i/bg_copy.jpg) repeat-x top center; margin: 0 auto; width: 1000px; height: 50px; line-height: 50px}
.bg_copy{
   border-radius:0 0 10px 10px;
   margin-bottom: 20px;
}


/*gradients*/
.left{ float: left}
.right{ float: right;}
.textRight{ text-align: right}
.textLeft{ text-align: left}
.textJustfy{ text-align: justify}
.textCenter{ text-align: center}
input,textarea, select{
   
   border-radius:5px;
   border:solid 1px #ccc;
   padding:5px


}
.azulLink{color:#6CA9BA}
.rosaLink{color:#E59CCCA}
input[type=submit],input[type=button],.button{
   border-radius:10px;
   -webkit-border-radius:10px;
   -moz-border-radius:10px;
   font-family:"Conv_GILC____", sans-serif; font-size: 14px;
   cursor: pointer;
   background: #E59CCC url(i/btnidentificacao.png) no-repeat center right;
   padding: 6px 35px 6px 6px;
   color:#fff !important;
   border: #E59CCC solid 1px;
}
input[type=submit]:hover,input[type=button]:hover,button{
    background-color: #BB4C95
}
select, input, textarea{
   border-radius:5px;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
}
.paginacao { margin-top: 10px; margin-bottom: 20px}
.paginacao a{ padding: 5px 10px; color:#fff; background: #B02F83}
.paginacao a.active{background: #D562AC}
.paginacao a:hover{ background: #D562AC}
.thumbnail{
   border-radius:5px;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
   background: #fff;
}

/*tabs*/
#tabswitch { margin: 20px 0 20px 0}
#tabswitch > ul{list-style:none;margin:0;padding:0;clear:both;height:53px;}
#tabswitch > ul > li{color:#fff; list-style-type: none !important;float:left;margin:0;padding:5px;width:160px; height: 43px; line-height: 43px; cursor:pointer; background:#E69FCE; text-align: center; margin-right: 10px}
#tabswitch > ul > li{
   border-radius:10px 10px 0 0;
      font-size:22px
}
#tabswitch > ul > li.active{background:#fff;border:solid 1px #D8E5E9; color:#E69FCE; border-bottom: #fff 1px solid}
#tabswitch .tab-container{width:98%px;border:solid 1px #D8E5E9;padding:10px;background-color:#FFF;display:none; }
#tabswitch .tab-container.active-container p,
#tabswitch .tab-container.active-container span,
#tabswitch .tab-container.active-container a,
#tabswitch .tab-container.active-container ul li { color: #666}