@CHARSET "UTF-8";
@IMPORT url("fonts.css");
@IMPORT url("normalize.css");
@IMPORT url("scrollabe.css");
@IMPORT url("reset.css");



body {
	background: url(i/bg_body.jpg);
}

header#header {
	background: url(i/bg_top_header.jpg) repeat-x top
}

header .header {
	position: relative;
	width:990px;
	margin: 0 auto;
	height:185px;
}
header .cadastro {
	background: url(i/bg_cadastro_topo.jpg) repeat-x top;
	width:600px;
	border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	-moz-border-radius:0 0 10px 10px;
	height:45px;
	line-height:46px;
	text-align:center;
	color:#fff;
	float:right;
	overflow:hidden;
	font-family:"PTSansNarrowRegular"
	
}
header .cadastro a{ color:#fff; text-decoration:none; font-family:"Conv_Trebushet Ms_" }
header .cadastro .redes_sociais{ width:227px; float:left; background:url(i/barra_cadastro_top.png)no-repeat center right;}
header .cadastro .redes_sociais span{font-family:"PTSansNarrowRegular"!important}
header .cadastro .redes_sociais img{ margin:0 5px}
header .cadastro .redes_sociais img{ vertical-align: sub;}
header .cadastro .cadastro-link{width:268px; float:left;background:url(i/barra_cadastro_top.png)no-repeat center right}
header .login-link{width:105px; float:right}
header .login-link a{ background:url(i/seta_link.png) no-repeat center right; padding-right:15px}
header .curtir{ position:relative; top: 20px}
header .logo{ float:left; margin-top:58px}
header .busca{float:right; width:209px; color:#D88FB1; margin-top:47px; margin-left:39px}
header .busca form span{ font-family: Arial !important; font-size:12px; margin-bottom:10px; display:block}
header .busca form input[name=buscar]{
	
	border-radius:100px;
	border:solid 1px #ebebeb;
	background:url(i/input.jpg) repeat-x top;
	width:151px;
	height:32px;
	text-indent: 10px;
	outline: none;
	}
header .busca form input[type=submit]{
	border-radius:100px;
	background:#F079B4;
	color:#fff;
	width:50px;
	height:31px; 
	text-align:center;
	border:none;
}
header .banner{ width:480px; height:60px; float:left; margin-top:40px; margin-left:35px}

section#menu{
	
	background:url(i/bg_menu.png) no-repeat center top; height:209px;
	
}
.bg_conteudo_top{ background:url(i/shadow.png) no-repeat center top}
.bg_conteudo_bottom{ background:url(i/shadow.png) no-repeat center bottom}
section#menu nav{ width:990px; margin:0 auto}
section#menu nav ul li{display:inline-block; height:55px; line-height:55px; margin-top:10px; background:url(i/seta-menu.png) no-repeat center right}
section#menu nav ul li a{font-family:'PTSansNarrowRegular'; font-weight:normal; color:#fff; text-decoration: none; font-size: 21px;
padding: 0 13px;}
section#menu nav ul li a{-webkit-transition:color .5s linear; -moz-transition:color .5s linear; transition:color .5s linear}

section#menu nav ul li a:hover{color:#1B5B63}
section#menu nav ul li a:hover{-webkit-transition:color .1s linear; -moz-transition:color .1s linear; transition:color .1s linear}

section#conteudo {width: 970px;
background: white;
margin: 0 auto;
padding: 10px;}

section#noticias-destaques{ position:relative; width:640px; float:left}
section#noticias-destaques figure.imagem-noticia-destaque{width:260px; height:260px;position:relative; float:left}
section.tabs{ float:left; margin-left:10px}
section.tabs article{ width:370px;height:75px; overflow:hidden; padding-bottom:10px; border-bottom: dotted thin #40B8C4; margin-bottom:9px}
section.tabs article:hover{
	
	-webkit-transition:background .5s linear;
	-moz-transition:background .5s linear;
	-o-transition:background .5s linear;
	transition:background .5s linear;
	background:#f8f8f8;
	
}
section.tabs article figure{ margin-right:10px}
section.tabs article h2{ margin-bottom:10px}

section#meu-bebe{width:620px; height:121px; background:url(i/meu_bebe_meu_blog.jpg) no-repeat center top; float:left; padding:0 10px}
section#meu-bebe h1{font-size:31px; color:#FF9966; text-align:right; padding:5px;font-family:"PTSansNarrowRegular"}
section#meu-bebe article{width:400px; float:right; text-align:right}
section#meu-bebe a{color:#ff9966; text-align:right; text-decoration:none; font-size:14px;}

section.categoria{ float:left; width:300px; padding:10px ;border-right:thin dotted #40B8C4; border-bottom:thin dotted #40B8C4;}
section.categoria article{ margin-bottom:23px; height:90px}
section.categoria article figure { margin-right:10px}
section.categoria article a{ color:#999; text-decoration:none;}
section.categoria article h2{ margin-bottom:10px}



aside.sidebar{ height:997px; width:310px; float:right}
aside.sidebar .calculadoraOvulacao{
	
	width:300px;
	height:210px;
	background:#FFEFDF;
	padding:5px;
	position:relative;
	margin-top:15px;
	margin-bottom:20px
	
}
.calculadoraOvulacao .icon{ position:absolute; top: -24px;right: -12px;background:url(i/bg_calculadora_ovulcacao.png) no-repeat center top; width:78px; height:40px}
.calculadoraOvulacao legend{color:#49B3C2; font-size:22px; font-family:"PTSansNarrowRegular"; margin-top:10px; display:block; margin-bottom:15px }
.calculadoraOvulacao span{ color:#F079B3; font-size:12px;margin-bottom:15px; margin-top:10px; display:block}
.calculadoraOvulacao select.selFirst{margin-left:30px}
.calculadoraOvulacao select{ margin-left:10px; margin-bottom:10px}

.chatonline{
	overflow:hidden;
	width:312px;
	height:121px;
	background:url(i/bg_site_online.png) no-repeat center top;
	margin-bottom:20px
	
}
.chatonline h1{ font-size:22px; color:#fff; margin-top:20px; padding:0 10px;font-family:"PTSansNarrowRegular"}
.chatonline p{ color:#fff; padding:10px; text-align:center}
.chatonline .btn{width:200px!important}

.dicabebe{
	overflow:hidden;
	width:312px;
	height:121px;
	background:url(i/bg_dica_de_bebe.png) no-repeat center top;
	margin-bottom:20px;
	
}
.dicabebe h1{ font-size:22px; color:#fff; margin-top:20px; padding:0 10px;font-family:"PTSansNarrowRegular"}
.dicabebe p{ color:#fff; padding:5px; text-align:left; padding:10px 20px}
.dicabebe .btn{
	background: url(i/btn-dicas.png) no-repeat center top !important;
text-align: left!important;
width: 79px !important;
float: right;
height: 29px;
top: -2px;
right: 10px;
line-height: 32px;
color: #666;}

.publicidade .codeadsense{
	
	margin-top:5px
}

section#palavra-doutor{
	background:#D7EAEE;
	border-radius:10px;
	padding:10px;
	border:solid 1px #ccc;
	min-height:200px;
	margin-top:20px;
}
section#palavra-doutor header .titulo{ color:#FF9999!important; border-bottom:dashed thin #999; padding-bottom:10px}
section#palavra-doutor article{ padding:5px 0}
section#palavra-doutor article p{ color:#666}
section#palavra-doutor article figure{ margin-right:10px}
section#palavra-doutor article header{ margin-bottom:10px}
section#palavra-doutor .leia-mais{ float:left !important; color:#666; margin-top:50px;}

section#publicidade-rodape{ margin:10px 0}

section#loja-do-bebe{position:relative; height:200px; }
section#loja-do-bebe h1{ color:#4AB1C2; font-size:18px; margin-bottom:10px;font-family:"PTSansNarrowRegular"}
section#loja-do-bebe article{ float:left; clear:none !important; padding:10px 10px; text-align:center;width:120px; height:165px; background:#F8E7D5; margin-left:27px}
section#loja-do-bebe article figure{ margin:0 auto; float:none !important;}
section.artigos-loja{
	
	width:980px;
	height:200px;
	position:relative;
	
}
section.artigos-loja a.lojaseta{
	position:absolute !important;
	display:block;
	height:54px;
	width:20px;	
	z-index:10px;
	cursor:pointer;
}
section.artigos-loja a.prevPage{ 
	
	left:18px; top:44px; 
	background:url(i/seta_banner_left.png) no-repeat center top;
	
}

section.artigos-loja a.nextPage{ 
	
	right:18px; top:44px; 
	background:url(i/seta_banner_right.png) no-repeat center top;
	
}
section#demais-destaques{
	background:#F8ECDE;
	padding:10px;
	margin-top:20px
}

section#demais-destaques h1,
section#demais-destaques h2,
section#demais-destaques h3{
	text-transform: none;
	color:#4AB1BF;
	font-family:"PTSansNarrowRegular"
}
section#nome-bebe,
section#com-problemas,
section#blogs{
	
	float:left;
	
}
section#nome-bebe{
	width:295px;
	padding:5px;
}
section#nome-bebe .letras{
	
	margin:10px 0;
	
}
section#nome-bebe .letras a{
	
	font-size: 24px;
color: #F079B4;
padding: 0 1px;
	font-family:'PTSansNarrowRegular';
	text-transform:uppercase;
	text-decoration:none;
}
section#nome-bebe .letras a:hover{
	
	color:#4AB1BF;
	
}
section#nome-bebe article a{
	display:block;
	background:#FAF2E9 url(i/icon-estrela.png) no-repeat center right;
	color:#4AB1BF;
	font-family:'PTSansNarrowRegular';
	font-size:21px;
	height:43px;
	line-height:43px;
	text-indent: 20px;
	border-radius:10px;
	margin-bottom:20px;
	-webkit-transition:all .5s linear;
	-moz-transition:all .5s linear;
	-o-transition:all .5s linear;
	transition:all .5s linear;
	}

section#nome-bebe article a:hover{
	
	background:#ECD0AE;
	text-indent:30px;
	background:#FAF2E9 url(i/icon-estrela.png) no-repeat 98% 10%;
	

	
}
section#com-problemas{
	
	width: 300px;
position: relative;
padding: 0 41px 0 35px;
	margin:0 10px;
	background:url(i/bg_problemas.png) no-repeat center center
	
}
section#com-problemas .balao{
	
	position:absolute;
	background:url(i/icon_baloes.png) no-repeat center center;
	width:50px;
	height:50px;
	top:-20px;
	right:20px
}
section#com-problemas hgroup{ margin-bottom:10px; display:block}
section#com-problemas select{
	
	background: none url(i/bg-input.png) no-repeat left top;
	width:100%; 
	padding:7px 10px;
	text-indent: 10px;
	border:none;
	margin-top:10px;
	color:#4AB1BF;
	outline:none;
	
}
section#com-problemas input[type=submit]{
	
	background: url(i/bg_submit.png) repeat-x top;
	width:32px;
	height: 30px;
	border:solid 2px #FF9933; 
	border-radius:5px;
	color:#333333;
	font-size:17px;
	font-family:'PTSansNarrowRegular';
	float:right;
	margin-top:10px;
}
section#blogs{
	width:245px;
	float:right;
}
section#blogs article{
	
	padding:10px 0;
	
}
section#blogs article h2{ 
	
	font-family:'Arial';
	font-size:10px;
	margin-bottom:5px
	
}
section#blogs article p{ 
	
	font-family:'Arial';
	font-size:10px
	
}
section#blogs article figure{
	
	margin-right:10px;
}
section#blogs article a{
	
	color:#999;
	
}
.scrolloja {
  /* required settings */
  position:relative;
  overflow:hidden;
  width: 850px;
  height:220px;
  margin:0 auto;
}
.scrolloja .items {
  /* this cannot be too large */
  width:20000em;
  position:absolute;
}

.scrolloja .items article{ height:150px !important;}
.scrolloja .items article:hover{
	
	box-shadow:inset 0 0 10px #F28B24;
		 -webkit-transition:background .5s linaer;
  -moz-transition:background .5s linaer;
  -o-transition:background .5s linaer;
  transition:background .5s linaer;
	
}
.scrolloja .items .preco{
	color:#FF9900;
	font-size:25px;
	
}
.scrolloja .items p{
	color:#4AB1C0;
	font-size:12px;
	margin:14px 0
}
 
.scrolloja .items div {
  float:left;
}

#artigos{
	
	width:645px;
	float:left;
	margin:20px 0;
	
}

#artigos  .formcategoria{
	
	background:url(i/bg_azul_categoria_form.png) repeat-x; height:42px; line-height:42px; text-indent: 20px;
	border-radius:10px;
	color:#fff;
	margin-bottom:20px
	
}
#artigos .formcategoria label{
	font-family:"PTSansNarrowRegular"
}
#artigos .formcategoria div{ float:right; width:220px}

#artigos .categoria-artigos article{
	float:left !important;
	width:175px;
	height:210px;
	box-shadow:0 0 10px #ccc;
	clear:none;
	padding:10px;
	margin:10px;
	position:relative;
}
#artigos .categoria-artigos  article figure{
	width:98%;
	height:87px;
	overflow:hidden;
	border:solid 1px #ebebeb;
	display:block;
	text-align:center;
	margin-bottom:10px;
	
}
#artigos .categoria-artigos article a{
	color:#999999;
}
#artigos .categoria-artigos  article figure img{
	max-width:100%
	
}
#artigos .categoria-artigos  article hgroup{
	margin-bottom:5px;
}
#artigos .categoria-artigos article .leiamais-artigo a{
	display:block;
	background:url(i/seta-artigo.jpg) no-repeat center left;
	height:14px;
	line-height:14px;
	color:#339EA9;
	padding-left:18px;
	font-size:14px;
	font-family:'PTSansNarrowRegular';
	float:left;
	bottom:-27px;
	-webkit-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-ms-transition:all .2s linear;
	transition:all .2s linear;
}
#artigos .categoria-artigos article .comentario-artigo a{
	display:block;
	background:url(i/icon_comentario.jpg) no-repeat center left;
	height:18px;
	line-height:15px;
	color:#339EA9;
	padding-left:25px;
	font-size:14px;
	font-family:'PTSansNarrowRegular';
	float:right;
	bottom:-27px
	
	
}
#artigos .categoria-artigos article .leiamais-artigo a:hover{
	background-position:5px center;
	-webkit-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-ms-transition:all .2s linear;
	transition:all .2s linear;
}
#artigos .artigos-detalhe figure{
	margin:0 20px 20px 0;
	width:275px;
	height:275px;
	overflow:hidden;
}
#artigos .artigos-detalhe figure img{
	max-width:100%;
}
#artigos .artigos-detalhe article p{
	margin:10px 0;
	text-align:justify
}
#artigos .artigos-detalhe .tags a{
	color:#4AB1BF;
	font-size:12px;	
}
#artigos .artigos-detalhe .compartilhe{
	background:url(i/bg_compartilhe.jpg) repeat-x;
	border:solid 1px #CCCCCC;
	border-radius:10px;
	padding:10px;
	height:45px;
	margin-top:10px;
	line-height:45px;
	width:615px
}
#artigos .artigos-detalhe .compartilhe .titulo{
	font-size:23px;
	color:#4AB1BF;
	font-family:PTSansNarrowRegular;
	float:left
}
#artigos .artigos-detalhe .icones{
	float:right;
	width:350px;
	margin-top:6px
}
#artigos #artigos-relacionados {
	background:#ECFAFD url(i/bg_article_relacionados.jpg) no-repeat center bottom;
	padding-bottom:20px;
	margin:10px 0
}
#artigos #artigos-relacionados header h1{
	padding-bottom:10px;
	padding-top:10px;
	border-bottom:2px dotted #44BCC8;
	margin:0 10px;
}
#artigos #artigos-relacionados article{
	float:left;
	clear:none;
	width:300px;
	padding:10px;
	height:80px;
	overflow:hidden;
}
#artigos #artigos-relacionados article figure{
	width:60px;
	height:60px;
	margin:0 10px 10px 0
}

#artigos #artigos-relacionados article .leiamais{
	color:#666;
	font-size:12px
}
#artigos #artigos-comentario .comentario-artigo a{
	display:block;
	background:url(i/icon_comentario.jpg) no-repeat center left;
	height:18px;
	line-height:15px;
	color:#666;
	padding-left:25px;
	font-size:14px;
	font-family:'PTSansNarrowRegular';
	float:right;
	padding:10px;
	right:10px;
	top:4px;
	padding-left:30px;
	
	
}
#artigos #artigos-comentario{
	margin:20px 0
}
#artigos #artigos-comentario  header h1{
	padding-bottom:10px;
	padding-top:10px;
	border-bottom:2px dotted #44BCC8;
	margin:0 10px;
	margin-bottom:20px;
}
#artigos #artigos-comentario article{
	margin-bottom:10px;
	margin-top:10px;
}
#artigos #artigos-comentario article figure{ margin-right:10px;}
#artigos #artigos-comentario .comentario{
	background:#F2F2F2; 
	padding:10px;
	color:#666;
	position:relative;
	border:solid 1px #ddd;
	border-radius:10px;
	margin-left:50px;
	margin-top:20px;
}
#artigos #artigos-comentario article span.user-data{
	font-size:12px;
	color:#4AB1BF;
}
#artigos #artigos-comentario article .responder{
	color:#666;
	margin-left:50px;
	font-size:12px;
	margin-top:10px;
	
}
#artigos #artigos-comentario form input[type=text]{
	
	padding:10px;
	color:#ccc;
	width:60%;
	clear:both;
	margin-top:5px
}
#artigos #artigos-comentario form textarea{
	
	width:97%;
	color:#ccc;
	margin-top:5px;
	text-indent: 10px
}
#artigos #artigos-comentario form input[type=submit]{
	background:url(i/bg_input_comentario.jpg) repeat-x top;
	height:30px;
	color:#fff;
	border:none;
	border-radius:10px;
	text-transform: uppercase;
	margin:10px; 
	float:right;
}
footer { background:url(i/bg_rodape.jpg) repeat-x top;  height:260px}
footer .footer{
	
	width:990px;
	margin:0 auto;
	
}
footer ul li a{color:#fff; text-decoration:none; padding-left:10px; background:url(i/seta_link.png) no-repeat center left; margin-left:10px; margin-top:10px; display:block; font-size:12px}
footer #artigos{width:400px}
footer section{float:left; width:155px;padding-right:30px}
footer section header h1{ color:#fff; margin-top:20px; margin-bottom:20px; text-shadow:0 0 0 2px #fff;font-family:"PTSansNarrowRegular"}
footer address{ width:990px; clear:both; background:url(i/line_copyright.png) no-repeat left top; height:26px; line-height:50px; width:990px; margin:0 auto; color:#fff; font-size:12px; font-style: normal; margin-top:10px;display:block}
/*
* error 404
*/
.error404 {
	margin: 0 auto; width: 800px; height: auto;
}

.error404 a img {
	margin: 0 auto; max-width: 99%; height: auto;
}
/*
* input, button
*/
input[type=submit],button{
	cursor:pointer;
}
img{ max-width:100%}
.clear{clear:both; display:block; height:1px}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {

}
/*
* diversos
*/
h1.titulo,
h2.titulo{color:#4AB1BF; font-size:23px; text-transform: uppercase; font-family:"PTSansNarrowRegular"; margin-bottom:10px}
article { display:block; clear:both}
article h2{color:#4ab1bf; font-size:16px; letter-spacing: 1px;font-family: 'PTSansNarrowRegular';}
article figure{ float:left}
p{color:#999999; font-size:12px}
.leia-mais{ text-decoration:none; text-align:right; display:block; color:#2D9AA6; font-size:12px; margin-top:5px}
.brn{ border-right:none !important}
.bbn{ border-bottom:none !important}
.btn{
	
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	text-align:center;
	padding:0 10px;
	height:39px;
	line-height:39px;
	background:blue;
	display:block;
	text-decoration:none;
	font-family:"PTSansNarrowRegular";
	font-size:16px;
	text-transform:uppercase;
	color:#fff;
	margin:0 auto;
	overflow:hidden
}
.btn.azul{ background:url(i/bg_azul_btn.jpg) repeat-x top;}
.btn.amarelo{background:url(i/bg_amarelo_btn.jpg) repeat-x top; color:#666666; height:30px; line-height:30px}
/* all form DIVs have position property set to relative so we can easily position newly created SPAN */
form div{position:relative; float:left; top:-5px; right:20px} 
/* setting the width and height of the SELECT element to match the replacing graphics */
select.select{
		position:relative;
		z-index:10;
		width:226px !important;
		height:32px !important;
		line-height:26px;
		top: 5px;
left: -15px
		
		
}

/* dynamically created SPAN, placed below the SELECT */
span.select{
	position:absolute;
	bottom:0;
	float:left;
	left:0;
	width:232px;
	height:32px;
	line-height:32px;
	text-indent:10px;
	background:#fff url(i/seta-select.jpg) no-repeat center right;
	cursor:default;
	z-index:1;
	border:solid 1px #B6C9D7;
	color:#a1a1a1;
	border-radius:10px
	
	}
	.line{ width:20px;
	position: absolute;
	top: -6px	
	}
	
	.line .line1,
	.line .line2,
	.line .line3,
	.line .line4,
	.line .line5{height:1px; border-right:1px solid #ddd; border-left:1px solid #ddd; margin:0 auto; background:#f2f2f2; display:block;}

	.line .line1{ width:1px; border-top:1px solid #ddd}
	.line .line2{width:2px}
	.line .line3{width:3px}
	.line .line4{width:4px}
	.line .line5{width:5px}
	.line .line6{width:6px}
	
	