.redes{ background:url("redes.png") top left no-repeat; }
._r2_c6{ width:9px; height:18px; background-position:-10px -10px; }
._r3_c4{ width:11px; height:17px; background-position:-10px -38px; }
._r3_c2{ width:12px; height:16px; background-position:-10px -65px; }

