/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

.clearfix{
	display:block;
	height:1px;
	clear:both
}
/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }
/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
  /*  margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;*/
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
  
  body{
  	background:url(i/bg_body.gif);
  	font-family:"ColaborateThinRegular",Arial,Helvetica,sans-serif;
  	font-size:24px;
  }
  .bg_balls{
  	background:url(i/bg_balls_body.png) no-repeat center top;
  	min-height: 1400px;
  }
  .bg_1_icones{
  	background:url(i/bg_1_icones.png) no-repeat top;
  	min-height: 1400px;
  }
  .bg_2_icones{
  	background:url(i/bg_2_icones.png) no-repeat  top;
  	min-height: 1400px;
  }
  .bg_foorter_grama{
  	background:url(i/rodape_gramado.png) no-repeat  bottom center;
  	min-height: 1400px;
  }
  .bg_foorter_icones{
  	background:url(i/bg_3_rodape_icon.png) no-repeat  bottom center;
  	min-height: 1400px;
  }
 
.bgazul{
	background:#CDEBFE;
	border-radius:8px;
	padding:10px;
	width:440px !important;
	height:225px;
}
.bgazul p{
	color:#798E9F;
	font-weight:400;
	margin-top:45px !important;
	font-size:27px;
	display:block
}
.bgverde{
	background:#B2CC82;
	border-radius:8px;
	padding: 10px;
}
.bgverde  p{
	color:#fff;
}
.bgverde.info-form{
	width:780px;
	margin:0 auto;
	margin-top:20px;
	position:relative;
}
.info-form::after{
	content:"";
	border:solid 38px;
	position: absolute;
	bottom:-65px;
	left:45%;
	border-color:#B2CC82 transparent transparent transparent;
}
.bgverde.info-form p{
	text-align:center;
	font-size:30px;
	padding:0;
	margin:0;
}
#header .redes{
	position: absolute;
	top:20px;
	left:0;
}
#conteudo{
	margin-top:60px;
}
#conteudo form label{
	display:block;
}
h1.title{
	color:#fff;
	font-size:28px;
	text-align:center;
	font-weight:normal;
	width:460px;
	position: absolute;
	top: -22px;
left: 242px;
}

.logo{
	padding-top: 30px;
	text-align:center
}
.iframe-facebook{
	position: absolute;
	top:25px;
	right:30px;
}

.form{
	background:#fff; padding:10px;
	width:620px;
	margin:0 auto;
	border-radius: 0 0 10px 10px;
}
.form form{
	width:460px;
	margin:0 auto;
	margin-top:50px;
	position: relative;
}
.form label{
	font-size:16px;
	margin-top:20px;
	margin-bottom:5px;
}
.form input, form select, form textarea{
	border:solid 1px #dde2e6;
	font-size:16px;
	background:#EDF6FB;
	padding:5px;
	border-radius:5px;
	width:447px
}
.form input[type=submit],
.form .btn{
	background:url(i/bg_submit.gif) repeat-x top;
	width:90px;
	float:right;
	margin-top:20px;
	padding:4px;
	display:block;
	border:0;
	-webkit-transition:background .2s linear;
	-moz-transition:background .2s linear;
	-o-transition:background .2s linear;
	transition:background .2s linear;
	
	cursor: pointer;
}
.form .btn{
	width:auto;
	float:right;
	border-radius:5px;
	font-size:16px;
	color:#999999;
	margin-right:5px;
}
.form input[type=submit]:hover{
	background:#B2CC82;
	color:#fff;
}
.form .btn:hover{
	background:#B3D4FC;
	color:#fff;
}
.form .cinperc{
	width:225px;
	float:left;
	margin-right:10px
}
.form .cinperc:last-child{
	margin-right:0 !important;
}
.form .cinperc select,
.form .cinperc input{
	width: 210px;
}
.form input{
	color:#999999
}
.form input#cidade,
.form input#nome,
.form input#nome_bebe{
	text-transform:capitalize;
}
.form .cinperc select{
	width: 224px;
	color:#999999;
	border:solid 1px #dde2e6;
}
.form-facebook{
	float:left;
}
#marcas{
	background:#fff;
	padding:5px;
	border-radius:10px;
	margin-top:65px;
}
#marcas .titulo{
	color:#87A75A;
	font-size:20px;
	font-weight:200;
}
#copy{
	background:#fff;
	padding:5px;
	border-radius:10px;
	margin-top:35px;
}
#copy p{
	color:#222222;
	text-align:left;
	font-size:16px;
	line-height: 30px;
	
}

#copy .redes{
	float:right;
}
.redes li{
	display: inline;
}
.redes li a{
	display:block;
	width:32px;
	height:32px;
	border-radius:100px;
	float:left;
	margin-left:10px;
	background:#87A75A url("i/redes.png") top left no-repeat;
	-webkit-transition:background .2s linear;
	-moz-transition:background .2s linear;
	-ms-transition:background .2s linear;
	transition:background .2s linear;
}
.redes li a:hover{
	background:#B3D4FC url("i/redes.png") top left no-repeat;
}
.redes li a.facebook{
		background-position: -1px 4px;
}
.redes li a.google{
	background-position: 0px -31px;
}
.redes li a.twitter{
	background-position: 0px -64px;
}

/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
